.about {
  background-color: #0a2850;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.about__title {
  max-width: 251px;
  position: relative;
  z-index: 1;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 1px;
}

.about__title span {
  display: block;
}

.about__content {
  margin-top: -119px;
  margin-bottom: 173px;
}

.about__paragraph {
  list-style-type: none;
  max-width: 660px;
  z-index: 1;
  display: flex;
  margin-bottom: 15px;
  line-height: 24px;
  margin-left: auto;
  margin-right: 80px;
  padding-left: 80px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  top: -119px;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -160px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
