.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 80px;
}

.footer__content {
  width: 100%;
  display: flex;
}

.footer__logo_div {
  width: 105px;
  height: 39px;
}

img.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  flex-direction: column;
}

.footer__list {
  list-style-type: none;
  justify-content: flex-end;
}

.footer__list-item {
  margin-bottom: 16px;
  display: flex;
}

.footer__social-heading {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 108px;
}

.footer__social-link {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  color: #ffffff;
  text-decoration: none;
}
.footer__social-link:hover {
  opacity: 0.5;
}
