.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 80px;
}

.footer__content {
  width: 100%;
  display: flex;
}

.footer__logo {
  width: 105px;
  height: 38px;
}

.footer__column {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  flex-direction: column;
}

.footer__list {
  list-style-type: none;
  justify-content: flex-end;
}
