.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #000;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
}
